.searchDiv {
    /* border: 1px solid black; */
    text-align: justify;
    width: 70%;
    font-size: large;
    position: relative;
    left: 16%;
    border-radius: 10px;
    padding: 1%;
}

.dataName {
    width: 20%;
    /* border: 1px solid black; */
}

.dataValue {
    width: 50%;
    /* border: 1px solid black; */
}

.searchInput {
    width: 30%;
    line-height: 200%;
    border-radius: 10px;
}
